html {
	background: gray; 
	padding: 5px;
	margin: 0px;
}
footer {
	display: block;
	text-align:center;
}
footer p {
	color: blue;
}
footer a {
	color: blue;
}
footer address {
	color: blue;
}
/*  Top Navigation Bar  */

.navbar {
	display:block;
	background-color: #352d2f;
	height: auto;
	width: auto;
  
}

.navbar img{
	display: block;
	position: auto;
	float: left;
	width: 22%;
	height: auto;
	padding: 5px;
	margin: 0px;
}

.navbar ul {
	
	width: auto;
	padding: 5px;
	margin: 5px;
	text-align: center;
  
  
}

.navbar li {
  
	padding: 5px;
	display: inline;
}

.navbar li a {
	color: #404cb2;
	font-size: 1.75em;
	text-decoration: none;
	line-height: 70px;
	padding: 5px 15px;
	opacity: 0.5;
	margin:  5px;
}
.link:hover {
    
    color:#ffd34f;
}

.contact {
	display: block;
	float: right;
	
	
	text-align: right;
	padding: 5px 15px;
	font-size: auto;
}
.contact a {
	color: #404cb2;
	text-decoration: none;
}

/* centered image */

.container {
	display:block;
	width: 100%;
	margin-left: auto;
    margin-right: auto
	
}

.image {
	display: block;
	
	width: 100%;
	padding: 5px;
	margin: 5px;
	
}

.invan {
	position: relative;
	border:1px solid #000000;
	width: 22%;
	height: 22%;
	background: #000000;
	display: block;
}
